        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- User Profile-->
                    <div class="user-profile">
                        <div class="user-pro-body">
                            <div><img src="../../../../assets/images/users/2.jpg" alt="user-img" class="img-circle"></div>
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Steave Gection <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu animated flipInY">
                                    <!-- text-->
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> Mi perfil</a>
                                    <!-- text-->
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ti-wallet"></i> Mis avances</a>
                                    <!-- text-->
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                                    <!-- text-->
                                    <div class="dropdown-divider"></div>
                                    <!-- text-->
                                    <a href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Configuración</a>
                                    <!-- text-->
                                    <div class="dropdown-divider"></div>
                                    <!-- text-->
                                    <a href="pages-login.html" class="dropdown-item"><i class="fas fa-power-off"></i> Salir</a>
                                    <!-- text-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="nav-small-cap">--- PROFESIONAL</li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Oportunidades</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="crm-leads.html">Todas</a></li>
                                    <li><a href="crm-add-leads.html">Agregar</a></li>
                                    <li><a href="crm-edit-leads.html">Buscar</a></li>
                                </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Clientes</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="crm-customers.html">Todos</a></li>
                                    <li><a href="crm-add-customers.html">Nuevo</a></li>
                                    <li><a href="crm-edit-customers.html">Buscar</a></li>
                                </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-handbag"></i><span class="hide-menu">Proveedores</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="crm-vendors.html">Todos</a></li>
                                    <li><a href="crm-add-vendors.html">Nuevo</a></li>
                                    <li><a href="crm-edit-vendors.html">Buscar</a></li>
                                </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-receipt"></i><span class="hide-menu">Facturas</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="crm-add-invoice.html">Todas</a></li>
                                    <li><a href="crm-edit-invoice.html">Agregar</a></li>
                                    <li><a href="crm-view-invoice.html">Buscar</a></li>
                                </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Calidad</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="widget-data.html">Todas</a></li>
                                    <li><a href="widget-apps.html">Agregar</a></li>
                                    <li><a href="widget-charts.html">Buscar</a></li>
                                </ul>
                            </li>                            
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-docs"></i><span class="hide-menu">Reportes</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="crm-customer-report.html">Clientes</a></li>
                                    <li><a href="crm-leads-report.html">Oportunidades</a></li>
                                    <li><a href="crm-sales-report.html">Ventas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
    